.container {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.target {
    outline-style: solid;
    outline-color: blue;
}

input {
    text-align: center;
}