.outer {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inner {
    border-style: solid;
    margin: auto;
    width: 87.5%;
    padding: 10px;
    background-color: rgb(255, 112, 112);
}

fa-icon {
    color: black;
}