.outer {
    border-style: solid;
    margin: 5%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
    width: 87.5%;
    padding: 10px;
    background-color: rgb(255, 112, 112);
}

fa-icon {
    color: gray;
}