<div class="content">
    <div class="description">
        <p *ngFor="let line of data.description">{{ line }}</p>
    </div>
    <div class="puzzle">
        <p *ngFor="let line of data.content">{{ line }}</p>
    </div>
    <div *ngIf="canPlay else elseBlock">
        <label for="answer">
            <input type="text" name="answer" #answer>
        </label>
        <button (click)="checkAnswer(answer.value)">Submit</button>
    </div>
    <ng-template #elseBlock>Somebody else is answering this puzzle at the moment. This page will update if the puzzle becomes available</ng-template>
    <p *ngIf="feedback==1">
        Correct answer! This puzzle is now solved!
    </p>
    <p *ngIf="feedback==-1">
        Incorrect, try again!
    </p>
</div>
